.forecast-grid {
    padding: 26px 0;
    display: flex;
    gap: 16px;
    overflow-x: auto; 
    white-space: nowrap;
    padding-bottom: 10px;
}

.forecast-grid::-webkit-scrollbar {
    height: 8px; 
}

.forecast-grid::-webkit-scrollbar-thumb {
    background: var(--border-light);
    border-radius: 8px;
}

body.dark-mode .forecast-grid::-webkit-scrollbar-thumb {
    background: var(--border-dark);
}

.forecast-grid > * {
    flex: 0 0 auto; 
    width: 180px;
}
